<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<div id="posts" class="grid grid-cols-1 sm:grid-cols-2 mid:grid-cols-3 lg:grid-cols-4 gap-8 mt-8">
<%= render partial: "post_list", locals: { posts: @posts } %>
</div>
